In [11]:
host = '34.101.145.162'
port = 5432
database = 'khaz_retail_db'
user = 'khaz_retail_user'
password = 'postgres'

In [12]:
conn_uri = f'postgresql://{user}:{password}@{host}:{port}/{database}'

In [4]:
import pandas as pd

In [5]:
query = '''
    SELECT * FROM information_schema.tables
    WHERE table_catalog = 'khaz_retail_db'
        AND table_schema = 'public'
'''

In [13]:
pd.read_sql(query, conn_uri)

,table_catalog,table_schema,table_name,table_type,self_referencing_column_name,reference_generation,user_defined_type_catalog,user_defined_type_schema,user_defined_type_name,is_insertable_into,is_typed,commit_action
0,khaz_retail_db,public,departments,BASE TABLE,None,None,None,None,None,YES,NO,None
1,khaz_retail_db,public,categories,BASE TABLE,None,None,None,None,None,YES,NO,None
2,khaz_retail_db,public,products,BASE TABLE,None,None,None,None,None,YES,NO,None
3,khaz_retail_db,public,customers,BASE TABLE,None,None,None,None,None,YES,NO,None
4,khaz_retail_db,public,orders,BASE TABLE,None,None,None,None,None,YES,NO,None
5,khaz_retail_db,public,order_items,BASE TABLE,None,None,None,None,None,YES,NO,None
6,khaz_retail_db,public,daily_status_count,BASE TABLE,None,None,None,None,None,YES,NO,None

In [14]:
pd.read_sql('orders', conn_uri)

       order_id order_date  order_customer_id     order_status
0             1 2013-07-25              11599           CLOSED
1             2 2013-07-25                256  PENDING_PAYMENT
2             3 2013-07-25              12111         COMPLETE
3             4 2013-07-25               8827           CLOSED
4             5 2013-07-25              11318         COMPLETE
...         ...        ...                ...              ...
68878     68879 2014-07-09                778         COMPLETE
68879     68880 2014-07-13               1117         COMPLETE
68880     68881 2014-07-19               2518  PENDING_PAYMENT
68881     68882 2014-07-22              10000          ON_HOLD
68882     68883 2014-07-23               5533         COMPLETE

[68883 rows x 4 columns]